@import "../../_globalColor";

.social-media-div {
  font-size: 2em;
}

.icon-button {
  margin-bottom: 10px;
}

.icon-button i {
  color: $textColorDark;
  border-radius: 2.6rem;
  cursor: pointer;
  display: inline-block;
  font-size: 1.3rem;
  height: 2.6rem;
  line-height: 2.6rem;
  margin: 0 5px;
  position: relative;
  text-align: center;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  width: 2.6rem;
  margin-bottom: 10px;
  transition: 0.2s ease-in;
}

.facebook i {
  background-color: $faceBook;
}

.linkedin i {
  background-color: $linkedin;
}

.github i {
  background-color: $github;
}

.gitlab i {
  background-color: $gitlab;
}

.google i {
  background-color: $google;
}

.twitter i {
  background-color: $twitter;
}

.medium i {
  background-color: $medium;
}

.stack-overflow i {
  background-color: $stackoverflow;
}

.kaggle i {
  background-color: $kaggle;
}

.instagram i {
  background-color: $instagram;
}

.linktree i {
  background-color: $linktree;
}

.whatsapp i {
  background-color: #25d366;
}

/* Hover Transition */
// Individual background-color lighten for each icon
.twitter i:hover {
  background-color: lighten($twitter, 15%);
}
.google i:hover {
  background-color: lighten($google, 15%);
}
.gitlab i:hover {
  background-color: lighten($gitlab, 15%);
}
.github i:hover {
  background-color: lighten($github, 15%);
}
.linkedin i:hover {
  background-color: lighten($linkedin, 15%);
}
.facebook i:hover {
  background-color: lighten($faceBook, 15%);
}
.instagram i:hover {
  background-color: lighten($instagram, 15%);
}
.stack-overflow i:hover {
  background-color: lighten($stackoverflow, 15%);
}
.kaggle i:hover {
  background-color: lighten($kaggle, 15%);
}
.medium i:hover {
  background-color: lighten($medium, 15%);
}
.linktree i:hover {
  background-color: lighten($linktree, 15%);
}

// Shared hover effects
.twitter i:hover,
.google i:hover,
.gitlab i:hover,
.github i:hover,
.linkedin i:hover,
.facebook i:hover,
.instagram i:hover,
.stack-overflow i:hover,
.kaggle i:hover,
.medium i:hover,
.linktree i:hover {
  transform: scale(1.15);
  box-shadow: 0 4px 16px 10px $lightBoxShadowDark;
  z-index: 2;
}

/* Media Query */
@media (max-width: 768px) {
  .social-media-div {
    text-align: center;
  }
}
